h1 {
    color:red;
}
.square{
    background-color: purple;
    width: 23.103%;
    padding-bottom: 23.103%;
    float: left;
    margin: 3%;
    border-radius: 19%;
    transition: background-color 0.8s;
}
.square.winner{
    background-color: gold;
}
.square.loser{
    background-color: gray;
}